@import "utils";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  min-width: 340px;
  scroll-behavior: smooth;
  transition: 1.4s ease;
  font-family: "Montserrat", sans-serif;

  &.grid::after {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    opacity: 0.15;
    left: $grid_margin;
    right: $grid_margin;
    background: repeating-linear-gradient(
      90deg,
      $grid_color 0,
      $grid_color $grid_width,
      transparent $grid_width,
      transparent $grid_width + $grid_gutter
    );
    pointer-events: none;
  }
}

.App {
  display: block;

  &__header {
    width: 100%;
    height: 920px;
    background-image: url("./images/image_2.3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-logo {
      position: absolute;
      z-index: 3;
      top: 50px;
      left: 0;
      right: 0;
      width: 320px;
      height: 94px;
      margin: auto;
    }

    &-Rectangle_6 {
      width: 100%;
      height: 920px;
      object-fit: cover;
      opacity: 0.6;
    }

    &-text {
      position: absolute;
      z-index: 2;
      top: 254px;
      left: 180px;
      width: 54%;
      height: 512px;
      background: linear-gradient(57.2deg, #0094d9 15.72%, #18cebd 74.72%);
      opacity: 0.8;
      color: white;

      &_h1 {
        z-index: 3;
        padding: 20px 38px;
        margin-bottom: 39px;
        font-size: 42px;
        font-weight: 700;
        line-height: 160%;
      }

      &_p {
        z-index: 3;
        padding: 0 18px 16px 24px;
        font-size: 30px;
        font-weight: 400;
        line-height: 170%;
        text-align: justify;
        letter-spacing: -0.005em;
      }
    }

    &-Rectangle_21 {
      position: absolute;
      top: 226px;
      left: 210px;
      width: 54%;
      height: 200px;
      background: linear-gradient(57.2deg, #0094d9 15.72%, #18cebd 74.72%);
      opacity: 0.7;
    }
  }
}
