@import "utils";

.App-header {
  /* position: relative; */
  width: 100%;
  height: 920px;
  background-image: url("./images/image_2.3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.App-logo {
  position: absolute;
  width: 100%;
  height: 920px;
  object-fit: cover;
  opacity: 0.6;
}
